/* Please do not move these two rules at the top unless you know what you're doing */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  border: 0px none #ffffff;
  border-radius: 0px;
}

/*Please do not remove the above two rules at the top unless you know what you're doing */

body{
    margin: 0px;
    height: 100vh;
}
.chat{
    width: 50%;
    height: 50%;
    opacity: 1;
    overflow:hidden;
    font-family: 'Lucida Console', 'Operator Mono Book'; /*derek's ubuntu font as a fallback for linux users*/
    font-size: 14px;
    box-shadow: 0px 0px 1px 1px #888888;
    word-wrap:break-word
}
.chat .msgs{
    overflow-y:scroll;
    width:80%;
    height:85%;
    direction: rtl;
    text-align: left;
}
.code {
    direction: ltr;
}
.chat .msgs .msg{
    direction: ltr; 
}
.inputcontainer{
    width: 100%;
    height: calc(10% + 1px);
    font-family: 'Lucida Console';
    font-size: 14px;
    resize: none;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display:table;
}
.inputcontainer .istyping{
    position: absolute;
    width: 80%;
    height: 30%;
    display: table-row;
    top: 0px;
}
.inputcontainer .chatinput{
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    resize: none;
    overflow: hidden;
    bottom: 0px;
    z-index: 5;
    box-sizing:border-box;
    border:none;
    display:table-row;
}
.inputcontainer .cfg{
    z-index: 999;
    position: absolute;
    right: 2%;
    font-size: 30px;
    bottom: 0px;
    cursor: pointer;
}

.blackphtext::placeholder{
    color: black;
}
.whitephtext::placeholder{
    color: white;
}

.config{
    position: absolute !important;
    bottom: 0px;
    right: 0px;
    font-size: 14px;
    width: 0%;
    height: 0%;
    opacity: 0;
    border-color: rgb(0, 0, 0);
    font-family: monospace;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(200, 200, 200);
    z-index: 6;
}
.resizer {
    width: 15px;
    height: 15px;
    background-color: #333333;
    border: 1px solid #000000;
    top: 0px;
    right: 0px;
    position: absolute !important;
    z-index:2;
    cursor: nesw-resize;
}

.onlineusers{
    z-index: 1;
    top: 5%;
    right: 0px;
    position: absolute;
    opacity: 0;
    width: 20%;
    height: 85%;
    max-height: 85%;
    overflow: hidden;

}
.redshadow{
    text-shadow: 2px 2px 8px #FF0000;
    font-weight: bold;
}
.cgroup{
    width:100%;
    height:5%;
    overflow-y: scroll;
}
.tab{
    cursor: pointer;
    width: 10%;
    float:left;
    height:100%;
    margin-right:5px;
    z-index:5;
}
.tabX{
    cursor: pointer;
    width: 15px;
    height: 15px;
    display:inline-block;
    color: white;
    background-color: black;
    text-align: -webkit-center;
    float: right;
}
.imagepreview{
    position: absolute;
    z-index: 5;
    bottom: 48px;
    border: 1px solid black;
}
pre{
    margin:0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* for coloring the scrollbar on hover
    ::-webkit-scrollbar-thumb:hover {
      background: #000000;
    }
    ::-webkit-scrollbar-thumb:active {
      background: #000000;
    }

    ::-webkit-scrollbar-track:hover {
      background: #ffffff;
    }
    ::-webkit-scrollbar-track:active {
      background: #ffffff;
    }
*/